<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <script src="https://kit.fontawesome.com/167c10a1b7.js" crossorigin="anonymous"></script>
    

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>

  <body class="d-flex flex-column vh-100">
     <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand">
            <span>Bookers</span>
          </a>
        
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <i class="fa-solid fa-house" style="color: white;"></i>
            <%=link_to "Home", user_path(current_user.id), :style=>"color:white;" %>
          </li>
          <li>
            <i class="fa-solid fa-users" style="color: white;"></i>
            <%= link_to "Users", users_path, :style=>"color:white;" %>
          </li>
          <li>
            <i class="fa-solid fa-book-open" style="color: white;"></i>
            <%= link_to "Books", books_path, :style=>"color:white;" %>
          </li>
          <li>
            <i class="fa-solid fa-right-from-bracket" style="color: white;"></i>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, :style=>"color:white;" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Home", destroy_user_session_path, method: :delete %>
          </li>
          <li>
            <i class="fa-solid fa-link" style="color: white;"></i>
            <%= link_to "About", about_path, :style=>"color:white;" %>
          </li>
          <li>
            <i class="fa-solid fa-user-plus" style="color: white;"></i>
            <%= link_to "Sign up", new_user_registration_path, :style=>"color:white;" %>
          </li>
          <li>
            <i class="fa-solid fa-right-to bracket" style="color: white;"></i>
            <%= link_to "Log in", new_user_session_path, :style=>"color:white;" %>
          </li>
        <% end %>
        </ul>
        </div>
      </nav>
    </header>
    
    <%= yield %>
  </body>
</html>
